PROJECT_NAME=pop-it-mvc
USER=user
PASSWORD=password
WEB_PORT=8080
DB_DRIVER=mysql
DB_HOST=db
DB_PORT=3036
DB_CONTAINER_PORT=3306
DB_DATABASE=mvc
DB_USERNAME=user
DB_PASSWORD=password
APP_DB_USERNAME=root
APP_DB_PASSWORD=QWEasd123!
DB_AUTO_SETUP=0
DB_ROOT_PASSWORD=QWEasd123!
WEB_PORT_PHPMYADMIN=8081
